body {
    font-family: Arial, sans-serif;
    background-color: #e3cde6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0%;
}

.registration-container {
    background-image: url("picture/Blissful beauty SALON(bckG2).png");
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 450px;
    text-align: center;
}

.registration-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="tel"],
.registration-container input[type="date"],
.registration-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio[type="radio"] {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;

    
}

.registration-container input[type="submit"],
.registration-container .home-button {
    background-color: #f15fcd;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

.registration-container input[type="submit"]:hover,
.registration-container .home-button:hover {
    background-color: #333;
}

.form-group {
    text-align: left;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.success-message {
    display: none;
    color: green;
    margin-top: 20px;
}