*
 body {
     font-family: Arial, sans-serif;
     background-color: #e3cde6;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
 }

 h2 {
     color: #f15fcd;
     border-bottom: 2px solid #333;
     display: inline-table;
     padding-bottom: 5px;
 }

 

 .welcome-container {
background-image: url("https://raw.githubusercontent.com/inno6969/Salon-web/refs/heads/main/Blissful%20beauty%20SALON(bckG2).png");
        background-size: cover;
        background-position: center;
     background-color: #e65fda;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 300px;
     text-align: center;
     background-color: #e4e1e1;
     color:#000000 ;
 }

 .welcome-container h2 {
     margin-bottom: 20px;
 }

 .welcome-container p {
    font: large;
     margin: 10px 0;
 }

 .button-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     margin-top: 20px;
 }

 .button-container a,
 .button-container button {
    background-color: #f15fcd;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
 }

 .button-container button:hover,
 .button-container a:hover {
     background-color: #333;
 }
